name: Examples

on:
  push:
    branches:
    - main
    - develop
  pull_request:
    branches:
    - main
    - develop

  workflow_dispatch:

jobs:
  build_and_test:
    if: contains(toJson(github.event.commits), '***NO_CI***') == false && contains(toJson(github.event.commits), '[ci skip]') == false && contains(toJson(github.event.commits), '[skip ci]') == false
    name: Testing library examples, running on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # show all errors for each platform (vs. cancel jobs on error)
      matrix:
        include:
        - os: ubuntu-latest
          name: "STL"
          backend: "-DRTNEURAL_STL=ON"
        - os: ubuntu-latest
          name: "xsimd"
          backend: "-DRTNEURAL_XSIMD=ON"
        - os: ubuntu-latest
          name: "Eigen"
          backend: "-DRTNEURAL_EIGEN=ON"
        - os: windows-latest
          name: "STL"
          backend: "-DRTNEURAL_STL=ON"
        - os: windows-latest
          name: "xsimd"
          backend: "-DRTNEURAL_XSIMD=ON"
        - os: windows-latest
          name: "Eigen"
          backend: "-DRTNEURAL_EIGEN=ON"
        - os: macos-latest
          name: "STL"
          backend: "-DRTNEURAL_STL=ON"
        - os: macos-latest
          name: "xsimd"
          backend: "-DRTNEURAL_XSIMD=ON"
        - os: macos-latest
          name: "Eigen"
          backend: "-DRTNEURAL_EIGEN=ON"

    steps:
    - name: Get latest CMake
      uses: lukka/get-cmake@latest

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Configure
      env:
        BACKEND_ARG: ${{ matrix.backend }}
      shell: bash
      run: cmake -Bbuild -DBUILD_EXAMPLES=ON $BACKEND_ARG

    - name: Build
      shell: bash
      run: cmake --build build --config Release --parallel

    - name: "Run Examples"
      working-directory: ${{env.WORK_DIR}}/build/examples_out
      shell: bash
      run: |
        for exe in *; do
          echo "RUNNING Example: $exe"
          ./$exe;
        done
